# Virtual environment
env/

# Python bytecode
*.pyc
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Push etmek istemediğim dosyalar
numpy.ipynb

# Test için veriler
eventid.json
chatbot_projects/afad_deprem_bot/filter.xml
chatbot_projects/hava_durumu_bot/weather.json
chatbot_projects/muge_anli_bot/ids.json
chatbot_projects/muge_anli_bot/rss1.xml
chatbot_projects/sbe_duyuru_bot/sbe.xml

# Mac/Windows sistem dosyaları
.DS_Store
Thumbs.db
